@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

.about-section {
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 12%;
    background-image: url(../images/gym4.jpg);
    background-size: cover;
    background-position: center;
   
}

.about-left img {
    width: 420px;
    height: auto;
    transform: translateY(5vh);
    
}
.about-right {
    width: 54%;
    background-color: rgb(255, 255, 255 , 0.6); 
    padding: 10px; 
}

.about-right ul li {
    display: flex;
    align-items: center;
}

.about-right h1 {
    color: #e74d06;
    font-size: 37px;
    margin-bottom: 5px;
}

.about-right p {
    color: #000;
    line-height: 26px;
    font-size: 15px;
}

.about-right .address {
    margin: 25px 0;
}

.about-right .address ul li {
    margin-bottom: 5px;
}

.address .address-logo {
    margin-right: 15px;
    color: #e74d06;
}

.address .saprater {
    margin: 0 35px;
}
