body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dcd1f7; 
    overflow-x: hidden;
}



header
{
    background-color: black;
    padding: 10px;
    box-shadow: 0 0 10px purple;
    text-align: center;
}

header li
{
    display: inline;
    padding-left: 45px;
    font-size: 20px;
}

header li a
{
    color: white;
    text-decoration: none;
    padding: 13px;
    border-radius: 30px;
    transition: .3s ease;
}

header li a:hover
{
    background-color: red;
}

header ul #login a
{
    color: #fff;
    background-color: purple;
    border-radius: 30px;
    float: right;
    position: relative;
    top: -15px;
    transition: .3s ease;
}

header ul #login a:hover
{
    background-color: red;
}

header li img
{
    width: 110px;
    float: left;
    margin-top: -20px;
}

.active
{
    background-color: red;
    border-radius: 30px;
    padding: 13px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    overflow-x: hidden;

    
}

.blur-resize-image
 {
    filter: blur(5px); 
    width: 200px; 
    height: auto; 
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    margin-top: 100px;
    margin-bottom: 120px;
}
h1 {
    text-align: center;
}
.faq-item {
    margin-bottom: 20px;
}
.question {
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.plus-icon::before {
    content: "+";
    font-size: 20px;
}
.answer {
    display: none;
}
footer
{
    background-color: black;
}

.logo img
{
    width: 200px;
}

.logo
{
    display: flex;
    justify-content: center;
    padding-right: 70px;
}

.footerContainer
{
    width: 100%;
    padding: 20px 30px 20px;
}

.socialIcons
{
    display: flex;
    justify-content: center;
    padding-right: 60px;
}

.socialIcons a
{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i
{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.socialIcons a:hover
{
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a i:hover
{
    color: white;
    transition: 0.5s;
}

.footerNav
{
    margin: 10px;
    padding-right: 70px;
}

.footerNav ul
{
    display: flex;
    justify-content: center;
}

.footerNav ul li a
{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.3s;
}

.footerNav ul li a:hover
{
    opacity: 1;
}

.footerBottom
{
    background-color: black;
    padding: 2px;
    text-align: center;
}

.footerBottom p
{
    color: white;
    margin-top: -20px;
}

